In [16]:
import amadeus
import numpy as np
from amadeus import Flights
import pandas as pd

In [85]:
DATA_PATH = '/Users/mathildebadoual/code/airport-codes/data/'
airport_code = pd.read_csv(DATA_PATH + 'airport-codes.csv')
airport_code.head()

,ident,type,name,coordinates,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code
0,00A,heliport,Total Rf Heliport,"-74.93360137939453, 40.07080078125",11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A
1,00AA,small_airport,Aero B Ranch Airport,"-101.473911, 38.704022",3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA
2,00AK,small_airport,Lowell Field,"-151.695999146, 59.94919968",450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK
3,00AL,small_airport,Epps Airpark,"-86.77030181884766, 34.86479949951172",820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL
4,00AR,closed,Newport Hospital & Clinic Heliport,"-91.254898, 35.6087",237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN

In [87]:
airport_code = airport_code.drop(airport_code[airport_code['continent'] == ].index)
airport_code = airport_code[(airport_code['type'] == 'large_airport') & (airport_code['continent'] == '')][['iata_code', 'continent']]
airport_code

Empty DataFrame
Columns: [iata_code, continent]
Index: []

In [60]:
flights = Flights('YeiZ1AVELkGGuANCGdUTJHOvB88pSDiL')
resp = flights.low_fare_search(
    origin='CDG',
    destination='SFO',
    departure_date='2018-05-25',
    duration='4--10')

In [61]:
data = pd.DataFrame(resp['results'])
data

,fare,itineraries
0,"{'total_price': '440.36', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
1,"{'total_price': '617.36', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
2,"{'total_price': '635.45', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
3,"{'total_price': '718.01', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
4,"{'total_price': '718.01', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
5,"{'total_price': '802.01', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
6,"{'total_price': '810.84', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
7,"{'total_price': '903.01', 'price_per_adult': {...",[{'outbound': {'flights': [{'departs_at': '201...
8,"{'total_price': '1031.94', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
9,"{'total_price': '1167.21', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
10,"{'total_price': '1177.21', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
11,"{'total_price': '1183.01', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
12,"{'total_price': '1679.96', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
13,"{'total_price': '1978.46', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
14,"{'total_price': '1999.55', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
15,"{'total_price': '2089.77', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
16,"{'total_price': '2259.92', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
17,"{'total_price': '2263.51', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
18,"{'total_price': '2268.68', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
19,"{'total_price': '2388.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
20,"{'total_price': '2520.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
21,"{'total_price': '2520.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
22,"{'total_price': '2524.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
23,"{'total_price': '2596.67', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
24,"{'total_price': '2601.93', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
25,"{'total_price': '2603.57', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
26,"{'total_price': '2603.57', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
27,"{'total_price': '2612.92', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
28,"{'total_price': '2612.92', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
29,"{'total_price': '2616.42', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
...,...,...
40,"{'total_price': '2642.77', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
41,"{'total_price': '2669.36', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
42,"{'total_price': '2700.83', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
43,"{'total_price': '3115.09', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
44,"{'total_price': '3117.39', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
45,"{'total_price': '3118.40', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
46,"{'total_price': '3124.61', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
47,"{'total_price': '3124.92', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
48,"{'total_price': '3128.67', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
49,"{'total_price': '3128.67', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
50,"{'total_price': '3130.75', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
51,"{'total_price': '3130.75', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
52,"{'total_price': '3130.75', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
53,"{'total_price': '3133.52', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
54,"{'total_price': '3135.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
55,"{'total_price': '3135.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
56,"{'total_price': '3135.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
57,"{'total_price': '3135.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
58,"{'total_price': '3135.02', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
59,"{'total_price': '3138.50', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
60,"{'total_price': '3148.60', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
61,"{'total_price': '3148.60', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
62,"{'total_price': '3196.73', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
63,"{'total_price': '3246.79', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
64,"{'total_price': '3406.70', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
65,"{'total_price': '3605.92', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
66,"{'total_price': '3893.45', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
67,"{'total_price': '3897.55', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
68,"{'total_price': '4038.45', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...
69,"{'total_price': '5306.81', 'price_per_adult': ...",[{'outbound': {'flights': [{'departs_at': '201...

In [36]:
def find_best_travel(origin, budget, duree=40, country_num=None, continent_num=None):

SyntaxError: unexpected EOF while parsing (<ipython-input-36-cb3d1012da3b>, line 1)