In [127]:
import amadeus
import numpy as np
from amadeus import Flights
import pandas as pd
import datetime

In [90]:
airport_code = pd.read_csv('airports.csv')
airport_code.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [159]:
flights = Flights('YeiZ1AVELkGGuANCGdUTJHOvB88pSDiL')
resp = flights.low_fare_search(
    origin='CDG',
    destination='SFO',
    departure_date='2018-05-25--2018-05-27',
    duration='1')

In [166]:
datetime.datetime.strptime('2018-05-25', '%Y-%m-%d').strftime("%s")

'1527231600'

In [160]:
resp['results'][0]['fare']['total_price']

'440.36'

In [181]:
def find_best_travel(origin='SFO', budget=100, days=40, num_countries=4, num_continent=None, departure_date=1527231600):
    flights = Flights('YeiZ1AVELkGGuANCGdUTJHOvB88pSDiL')
    list_airports = ['SFO', 'CDG']
    days_per_city = int(days / num_countries)
    distance_matrix = np.zeros((len(list_airports), len(list_airports)))
    for i, airport_departure in enumerate(list_airports):
        print(airport_departure)
        for j, airport_arrival in enumerate(list_airports):
            print(airport_arrival)
            if airport_arrival == airport_departure:
                distance_matrix[i, j] = 0
            else:
                prices_list = []
                for duration in range(0, 40, days_per_city):
                    print(duration)
                    date = datetime.datetime.fromtimestamp(departure_date + duration * 24 * 3600).strftime('%Y-%m-%d')
                    print(date)
                    resp = flights.low_fare_search(
                        origin=airport_departure,
                        destination=airport_arrival,
                        departure_date=date,
                        duration='1')
                    price = resp['results'][0]['fare']['total_price']
                    print(price)
                    prices_list.append(float(price))
                distance_matrix[i, j] = np.mean(prices_list)
    return distance_matrix

In [182]:
find_best_travel()

SFO
SFO
CDG
0
2018-05-25
851.28
10
2018-06-04
313.28
20
2018-06-14
600.28
30
2018-06-24
578.28
CDG
SFO
0
2018-05-25
440.36
10
2018-06-04
596.45
20
2018-06-14
428.51
30
2018-06-24
529.51
CDG

array([[  0.    , 585.78  ],
       [498.7075,   0.    ]])